body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdd4d40c;
}

#main {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.brief_introduction {
    text-align: center;
}

.introduction {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: -1rem 2rem 2rem 2rem;
}

.site_introduction {
    background-color: white;
    border: 1px solid #000000;
}

.introduction>p {
    padding: 0rem 2rem 1rem 2rem;
}

.introduction>.brief_introduction {
    padding-top: 1rem;
}

.introduction_container {
    align-items: center;
}

.introduction_container > p {
    max-width: 50rem;
    justify-content: center;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 0% 3%;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 30px;
}

.logo {
    position: absolute;
    max-width: 10%;
    min-width: 2em;
    max-height: 8%;
    min-height: 1em;
    display: none;
    top: 6em;
    left: 1em;
    /* background-color: #ec0707;
    padding: 1%;
    border: 4px solid #2a0303;
    box-shadow: 2px 2px #59000060; */
}

@media (min-width: 820px) {
    .form {
        flex-direction: row;
        row-gap: 10px;
        column-gap: 80px;
    }

    .logo {
        display: block;
        top: 0.8em;
        left: 1em;
        min-height: 5em;
    }

    .help {
        top: 4%;
        left: 92%;
    }

    .desc_img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .desc_img > img {
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 820px) {
    .help {
        top: 16%;
        left: 48%;
    }
    .attendance-graph {
        width: 100%;
    }

    .desc_img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .desc_img > img {
        width: 80%;
        height: 80%;
        align-self: center;
    }
}

@media (max-width: 640px) {
    .help {
        top: 25%;
        left: 47%;
    }
}

#results {
    /* display: grid;
    column-gap: 10px;
    row-gap: 10px; */
    border-collapse: collapse;
    /* width: 100%; */
    margin: 5%;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    width: 10%;
    text-align: center;
}

.title {
    text-align: center;
    color: #290000;
    font-family: 'Beth Ellen', 'Brush Script', Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em 0.5em;
    margin-bottom: 1.5em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.25em;
    background-color: #ac2828;
    border-bottom: 5px solid #2a0303;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8a8a8a2f;
}

.settings,
.util {
    display: grid;
    grid-template-columns: auto 40%;
}

.settings {
    /* grid-column: 1; */
    column-gap: 10px;
    row-gap: 5px;
}

.settings label {
    width: max-content;
    align-self: center;
}

.util-label {
    grid-column: 2;
    width: auto;
    text-align: center;
    border: 1px solid #000000;
    padding: 5%;
    font-weight: bold;
}

.util {
    /* grid-column: 2; */
    border-collapse: collapse;
    padding: 1%;
}

.util label {
    font-weight: bold;
    /* width: 100%; */
    padding: 2%;
}

.util input {
    text-align: center;
}

.util label,
.util input {
    border: 1px solid #000000;
    padding: 2%;
}

.submit-button {
    margin: 2%;
    font-size: medium;
    min-width: max-content;
    width: 10%;
    padding: 1%;
}

.bad_util {
    background-color: #fc4343;
}

#days_summary {
    text-align: center;
    border: 1px solid #000000;
    background-color: white;
    width: fit-content;
    padding: 0 2%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.days_summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attendance-graph {
    display: flex;
    justify-self: center;
}

.introduction {
    padding: 0.1rem 0.3rem;
}

#prediction_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prediction_tab>div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}

#prediction_tab>.player_predictions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1%;
}

/* change appearance for read-only fields */
/* #mem_attendances,
.player_predictions input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
} */

#prediction_tab>.hide {
    visibility: hidden;
}

.help {
    position: absolute;
    padding: 1% 1.5%;
    min-height: 1em;
    min-width: 1em;
    display: flex;
    flex-direction: column;
    /* z-index: 3; */
    align-items: center;
    text-align: center;
}

.help_label {
    font-weight: bold;
    /* font-size: medium; */
}

#days_list>canvas {
    height: 100%;
}

#days_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#player_score {
    align-self: center;
    position: relative;
}

#player_score_addition {
    position: relative;
    top: -10px;
    /* padding-left: 2.5%; */
    font-size: large;
}

/* #captions {
    grid-row: 1;
} */

/* #N, .N_value {
    grid-column: 1;
}

#c, .c_value {
    grid-column: 2;
}

#p, .p_value {
    grid-column: 3;
}

#bar, .bar_value {
    grid-column: 4;
}

#util, .util_value {
    grid-column: 5;
} */